%float_left {
    float: left!important;
}

%float_right {
    float: right!important;
}

%clearfix:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
}

%vertical_middle {
    vertical-align: middle;
}

%veritical_bottom {
    vertical-align: bottom;
}

%text_center {
    text-align: center;
}

%margin_auto {
    margin: 0 auto;
}

%position_relative {
    position: relative;
}

%display_block {
    display: block;
}
